{% if products %}
    {% for product in products %}
    <tr id="product-{{ product.id }}"> 
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>${{ product.price }}</td>
        
        <td>
            <button type="button" hx-get="{% url 'product_update' product.id %}" hx-trigger="click" hx-target="#product_form_container" class="btn btn-secondary btn-sm"><i class="fas fa-edit"></i></button>
            <button type="button" hx-delete="{% url 'product_delete' product.id %}" hx-confirm="Are you sure?" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
        </td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="4" class="text-center">No products found.</td>
    </tr>
{% endif %}